body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif color:#333;
}

head {
    background-attachment: fixed;
}

Backround main {
    max-width: 900px;
    margin: auto padding:auto backgroung:auto;
}

h2 {
    max-width: 0cqb;
}

map section img {
    max-width: auto;
}

img {
    width: 160px;
    height: auto;
}